body, body * {
    font-family: 'Montserrat', sans-serif;
    color: #494949;
}

body {
    background-color: #40a63d1a;
}
a:link{
    text-decoration: none;
}
a:hover{
    color: red;
}
.navbar-brand{
    color: red;
}
.imgs{
    display: flex;
}
.imgs > :nth-child(1) {
    background-image: url("images/en-flag.png");
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}
.imgs > :nth-child(2) {
    background-image: url("images/ur-flag.png");
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}
.imgs > :nth-child(3) {
    background-image: url("images/zh-flag.png");
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}
.navbar-toggler{
    display: none;
}
.bg-dark{
    display: flex;
    justify-content: flex-end;

}
a{
    text-decoration: none;
    color: white;
    margin: 1em;
}
.btn{
    display: flex;
    justify-content: flex-start;
}
.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
i{
    color: #7ab251;
    margin: 8px;
}
/* .img{
    height: 40px;
    width: 40px;
    background-color: greenyellow;
} */
.time{
    border-bottom: 1px solid #40a63d1a; 
}
.imgurl{
    background-image: url("images/logo.png") 
}
@media screen and (max-width: 600px) {
    .navbar-toggler {
      display: block;
    }
  }
@media screen and (max-width: 600px) {
    .menu {
      display: none;

    }
  }

/* Write all your CSS here! */